*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 184, 211);
}
.box{
    width:60%;
    height: 40vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap:20px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 10px;
    position: relative;

}
h1{
    text-align: center;
}
.dis{
    width: 100%;
    display: flex;
    
    
}
.display{
    width: 70%;
    height: 25px;
    /* outline: none; */
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}
.Submit{
    width: 30%;
    cursor: pointer;
    background-color: lightblue;
    border: none;
    border-radius: 5px;


}
.list{
    display: flex;
    justify-content: space-between;
}
.clear{
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 40%;
    color:red;
    cursor: pointer;
}
button{
    cursor: pointer;
}
/* .editor{
    display: none;
} */
.edit,.delete{
    padding: 3px 8px;
    border-radius: 5px;
    border:1px solid black
}
.demo{
    overflow: scroll;
}
.editor{
    overflow: scroll;
}